body {
  background: -webkit-radial-gradient(rgb(250, 247, 235), rgb(247, 193, 193)) no-repeat;
    color: rgb(71, 71, 75);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  }
    
  .clearfix::after{
    content: "";
    display: block;
    clear: both;
  }

  h1 {
    font-size: 8em;

  }
  
  h2 {
    font-size: 4em;
  }
  h4 {

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  }
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: greenyellow;
   color: blue;
   text-align: center;
}



.main {
 padding: 16px;
 margin-top: 30px;
 height: 1500px; /* Used in this example to enable scrolling */
}


.main-container {
  height: 100%;
  width: 100%;
}
      
.container {
  width: 100%;
  max-width: 100%;
}

.form-control{
  width:100%
}


/**-----**/

canvas {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9999;

}


.navbar-brand{
 position : absolute;
  top : 5px;
  }


#main_jumbotron{
 background-color: transparent;
}

#jumbotron_login{
 background: white;
 padding-bottom: 10px;
 padding-top: 60px;
 border-color: blue;
 border-radius: 5em;
}

#menu_card{
 border-color: red;
 margin-left: 10px;
 background: #d7ffb7;
}

#featured{
  background-color: transparent;
 padding: 0px;
}

#article_card{
 border-color: blue;
 margin-right: 10px;
 background: white;
}

.article_text{
 text-overflow: ellipsis;
 display: inline-block;
 overflow: hidden;
 max-height: 75px;
 max-width: 150px;
 margin-bottom: 0px;
}

.social-container {
  text-align: center;
  max-width: 250px;
}


@mixin social-container($color) {
  .social-cube {
    .front, .back {
      background: $color;
    }
    .bottom {
      background: darken($color, 10%);
    }
  }
  &:hover .social-cube {
    .bottom {
      background: $color;
    }
    .front {
      background: lighten($color, 10%);
    }
  }
}


.social-container {
  position: relative;
  display: inline-block;
  width: 164px;
  height: 30px;
  perspective: 300px;
  font-size: 24px;
  margin: 8px;
  background-color: #3b5998;
}
  .social-cube {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.333s;
    transform: translateZ(-18px);
  }
    .front, .bottom {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      transition:  0.333s;
    }

    .front {
      transform: rotateX(0deg) translateZ(18px);
    }
    .bottom {
      transform: rotateX(-90deg) translateZ(18px);
    }
  
  
  :hover .social-cube {
    transform: translateZ(-18px) rotateX(90deg);
  }




  

  /**-------**/



@media (min-width: 1025px) and (max-width: 1280px) {
 
 
 
}



@media (min-width: 768px) and (max-width: 1024px) {
 
 
}



@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
 
}



@media (min-width: 481px) and (max-width: 767px) {
 
 
}



@media (min-width: 320px) and (max-width: 480px) {
 
 
 
}